import(R.utils, ggplot2, gplots, reshape2, scater, scran, cluster, limma, dynamicTreeCut, Rtsne, WebGestaltR, rmdformats, SingleCellExperiment, data.table)

export(scRNABatchQC, prepareSCRNAData, prepareSCRNADataSet)
